

.moret__in{
    display: flex;
    align-items: center;
    padding: 0px 7px;
}
.moret__in p{
    color: #830304;
}
.moret__in>.MuiSvgIcon-root{

    margin-right: 10px;
    color: #830304;
}
.moret__in:hover{
    background-color: rgb(245,243,243);
    cursor: pointer;
}